.App {
  text-align: center;
}

.nav{
  height: 6vh;
  width: 100%;
  background: black;
  color: white;
  text-align: left;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;

}

.navspace{
  padding: 0 2vw 0 2vw;
}

.nav2{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width:100%;
}

#clear{
  color:white;
}
